@use 'globals';

.titulo-section {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
}

.reds {
    width: 6em;
    background-color: globals.$main_text;
    border-radius: 50%;
    padding: .4em;
    @include globals.flex_center_center;

    a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        @include globals.flex_center_center;

        img {
            width: 100%;
        }
    }
}

.btn {
    padding: .6em 4em;
    background-color: globals.$my_blue;
    border: none;
    border-radius: 1em;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: globals.$main_text;
        color: globals.$my_blue;
    }
}

.mi-foto {
    min-width: 20em;
    background-color: globals.$main_text;
    padding: .4em;
    border-radius: 50%;
    @include globals.flex_center_center;

    img {
        width: 100%;
        border-radius: 50%;
    }
}