@import 'animaciones';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

$bg_body: #101010;
$main_text: #D3F1F1;
$my_blue: #1B8C8F;

@mixin seccion_st {
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    padding: 9em 5em 5em 5em;
    border-bottom: 1px solid $main_text;
}

@mixin flex_center_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin form_text {
    background-color: $main_text;
    color: $my_blue;
    outline: none;
    border: none;
    border-radius: 1em;
    padding: .4em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    color: $main_text;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg_body;
}

.presentacion {
    // background-color: black;
    max-width: 100vw;
    height: calc(100vh - 4em);
    position: relative;
    overflow: hidden;

    .bg-video {
        width: 100vw;
        // height: calc(100vh - 4em);
        height: 100vh;
        object-fit: cover;
        position: absolute;
        opacity: .6;
        z-index: -1;
    }

    .datos {
        padding: 4em 5em;
        z-index: 2;

        .nombre {
            text-align: left;
            
            span {
                font-size: 8em;
                font-weight: 700;
            }
        }
    
        .ocupacion {
            text-align: right;
    
            span {
                font-size: 6em;
                font-weight: 400;
            }
        }
    }    
}

.menu {
    max-width: 100vw;
    height: 4em;
    background-color: black;
    border-bottom: 1px solid $main_text;
    position: sticky;
    top: 0;
    z-index: 1;

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        li {
            list-style: none;

            a {
                text-decoration: none;
                font-size: 1.2em;
                font-weight: 400;

                &:hover {
                    text-decoration: underline;
                    color: $my_blue;
                }
            }
        }
    }
}

.sobre-mi {
    @include seccion_st();

    .contenido-mi {
        @include flex_center_center();
        gap: 6em;

        .mi-descripcion {
            p {
                font-size: 1.2em;
                font-weight: 400;
                margin-bottom: 1em;
            }
        }
    }
}

.habilidades {
    @include seccion_st();
}

.proyectos {
    @include seccion_st();
}

.contacto {
    @include seccion_st();

    .contacto-sec {
        @include flex_center_center();

        .msj-contacto {
            flex: 1;
            align-self: stretch;
            padding: .8em;

            form {
                width: 100%;
                @include flex_center_center();
                flex-direction: column;
                gap: .6em;

                .input-group {
                    width: 100%;

                    input {
                        width: 100%;
                        @include form_text();
                    }

                    label {
                        font-size: 1.2em;
                        font-weight: 300;
                        margin-left: .8em;
                    }

                    textarea {
                        width: 100%;
                        max-height: 5em;
                        resize: none;
                        @include form_text();
                    }
                }
            }
        }

        .redes {
            max-width: 50%;
            padding: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 4em;
        }
    }
}